<form #f="ngForm" >
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" [(ngModel)]="login.username">

    <label for="surname">Surname:</label>
    <input type="text" name="surname" id="surname" [(ngModel)]="login.surname">

    <label for="email">Email:</label>
    <input type="text" name="email" id="email" [(ngModel)]="login.email">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" [(ngModel)]="login.password">

    <button type="submit" (click)="onSubmit()" class="btn btn-default">Register!</button>
</form>