<form #formSite="ngForm" (ngSubmit)="onSubmit(formSite)" novalidate>
    <input name="title_meta" [(ngModel)]="site.title_meta" required>
    <input name="description_meta" [(ngModel)]="site.description_meta" required>
    <input name="keywords_meta" [(ngModel)]="site.keywords_meta" required>
    <input name="title" [(ngModel)]="site.title" required>
    <input name="keywords_meta" [(ngModel)]="site.keywords_meta" required>
    <textarea name="content" [(ngModel)]="site.content" required ></textarea>
    <input ngModel type="file" name="foto" (change)="onChange($event)" />
    <button type="submit">Zapisz</button>
</form>